---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { formatDate, joinWithEt } from "../../helper";
import Image from "astro/components/Image.astro";
import { getEntry } from "astro:content";
import { getEntries } from "astro:content";
import LinkPersonne from "../../components/LinkPersonne.astro";

export async function getStaticPaths() {
    const films = await getCollection("films");
    return films.map(film =>({
        params: { id: film.id },
        props: { film },
    }));
};
const { film } = Astro.props;
const { Content } = await render(film);

const rolesEntries = film.data.roles ? await Promise.all(film.data.roles.map(async ({acteur, nom_role})=> ({
    nom_role,
    acteur: await getEntry(acteur) 
}))) : []
---
<Layout titre = { film.data.nom }>
    <article class="prose">
        <div class="w-fit">
            <a class="font-bold group" href="/films/">Retourner aux films<div class="w-full bg-black h-0.5 group-hover:w-0 transition-all duration-300 "></div></a>
        </div>
        <p>Fait le : 
            {
                formatDate(film.data.sortie)
            }
        </p>
        <p>Lieu de tournage : 
            {
                joinWithEt(film.data.pays_origine ?? [])
            }
        </p>
        {
        film.data.realisateur &&
            <div class="flex gap-x-2"> 
                <p>Réalisateur :</p>
                <LinkPersonne personne={await getEntry(film.data.realisateur)} />
            </div>
        }

        {
        film.data.producteurs &&
            <p>Producteur</p> 
            <p>{(await getEntries(film.data.producteurs)).map(prod => <LinkPersonne personne={prod} />).reduce((prev, curr) => [prev, ', ', curr])}</p>
        }

        {
        film.data.roles && 
            <p>Roles : 
            <ul>
                {
                    rolesEntries.map(({acteur, nom_role})=> 
                    <li>
                        <LinkPersonne personne = { acteur } />
                        { nom_role }
                    </li>
                    )
                }
            </ul>
            </p>
        }

        {
        film.data.image && 
            <Image src={film.data.image} alt={`photo de ${film.data.nom}`} data-pagefind-meta="image[src], image_alt[alt]" />
        }
        
        <Content />
    </article>
</Layout>