---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const acteurs = await getCollection("acteurs");
---
<Layout titre = "tous les acteurs">
    <ul>
        {acteurs.map(acteur =>
        <li> 
            <a href="">{acteur.data.nom}</a>
        </li>
        )}
    </ul>
</Layout>