---
import Layout from "../layouts/Layout.astro";


---
<Layout titre = "hello">
	<h1 class="text-7xl font-bold text-center ">Hello</h1>
	<div class="flex justify-around *:bg-black *:text-white *:p-3 *:border-gray-400 *:border *:rounded-lg *:hover:bg-white *:hover:text-black transition-all duration-300">
		<a href="/personnes">Acteurs</a>
		<a href="/films">Films</a>
	</div>
</Layout>