---
import '../styles/global.css';


interface Props {
    titre: string;
}
const { titre } = Astro.props;
// autres options possibles

// const titre  = Astro.props.titre;
// const props  = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{ titre } | Site de films</title>
	</head>
	<body>
		<slot />
	</body>
</html>